<div class="container">
  <div class="row">
    <div class="setting-section">
      <div class="rent_popup">
        <!-- <span class="close">&times;</span> -->
        <h3>Create New Rental Case</h3>

        <div class="rental_case">
          <h4> Rental case number : 102</h4>
          <form novalidate="">


            <div class="row  marT20">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group text-left">
                  <label class="control-label" for="product_categorie">Select property</label>
                  <select id="product_categorie" name="product_categorie" class="form-control"
                    placeholder="10002944 : Apartment 90, Building 4, Roosevelet village">
                    <option value="volvo">Apartment</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group text-left">
                  <label class="control-label" for="product_categorie">Property owener</label>
                  <select id="product_categorie1" name="product_categorie" class="form-control"
                    placeholder="Add as new tenant">
                    <option value="volvo">Add as new tenant</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group text-left">
                  <label class="control-label" for="settingFName">Address of services of notices (can be an agent's
                    address):</label>
                  <input name="settingFName" class="form-control" type="text">
                </div>
              </div>
            </div>
            <div class="horiLine"></div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group text-left inspection">
                  <label class="control-label" for="product_categorie">Add tenant email (you can add more than
                    1)</label>
                  <input name="settingFName" class="form-control" type="text" placeholder="saerch anything">
                  <i class="fa fa-search" aria-hidden="true"></i></input>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group text-left">
                  <label class="control-label" for="product_categorie">Term of this agreement is</label>
                  <select id="product_categorie1" name="product_categorie" class="form-control"
                    placeholder="Add as new tenant">
                    <option value="volvo">Add as new tenant</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group text-left">
                  <label class="control-label" for="settingFName">Rental case validity</label>
                  <input name="settingFName" class="form-control" type="date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i></input>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group text-left">
                  <label class="control-label" for="settingFName">Tenancy start date</label>
                  <input name="settingFName" class="form-control" type="date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i></input>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group text-left">
                  <label class="control-label" for="product_categorie">Tenancy length</label>
                  <select id="product_categorie1" name="product_categorie" class="form-control"
                    placeholder="Add as new tenant">
                    <option value="volvo">Add as new tenant</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>


              <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="form-group text-left">
                  <label class="control-label" for="product_categorie">Rent($)</label>
                  <input name="Rent" class="form-control" type="number">
                </div>
              </div>

              <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="form-group text-left">
                  <label class="control-label" for="product_categorie">Monthly</label>
                  <select id="product_categorie1" name="product_categorie" class="form-control"
                    placeholder="Add as new tenant">
                    <option value="volvo">Add as new tenant</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>


              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group text-left">
                  <label class="control-label" for="settingFName">Payable in advance starting on</label>
                  <input name="settingFName" class="form-control" type="date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i></input>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group text-left">
                  <label class="control-label" for="settingFName">Address of services of notices </label>
                  <input name="settingFName" class="form-control" type="text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group text-left">
                  <label class="control-label" for="settingFName">Tenancy inclusions (ie. a common parking space or
                    furniture provided.)</label>
                  <textarea name="settingFName" class="form-control" type="text"
                    placeholder="One item per line"></textarea>
                </div>
              </div>
            </div>

            <div class="horiLine"></div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="para">
                  <h4>The method by which the rent must be paid:</h4>
                  <p class="form-inline">(a) to <input type="text" class="input_Line"> at <input type="text"
                      class="input_Line"> by cash or cheque, or</p>
                  <p> (b) into the following account, or any other account nominated by the landlord : </p>
                  <p>BSB number : <input type="text" class="input_Line"> account number : <input type="text"
                      class="input_Line"></p>
                  <p>account name : <input type="text" class="input_Line"></p>
                  <p>payment reference : <input type="text" class="input_Line"> , or </p>
                  <p>(c) as follows : <input type="text" class="input_Line"> <input type="text" class="input_Line"></p>
                  <p class="marT30"> <span> Note: The landlord or landlord's agent must permit the tenant to pay the
                      rent by at least one means for which the
                      tenant does not incur a cost (other than bank or other account fees usually payable for the
                      tenant's transactions)
                      and that is reasibably available to the tenant.
                    </span></p>

                  <h4 class="marT30">RENTAL BOND[cross out if there is not going to be around] :</h4>
                  <p>A rental bond of $<input type="text" class="input_Line"> must be paid by the tenant on signing this
                    agreement.</p>
                  <p>The amount of the rental bond must not be more than 4 weeks rent.</p>

                  <h4 class="marT30">Maximun number of occupants</h4>
                  <p> No more than<input type="text" class="input_Line"> persons may ordinarily live in the premises any
                    one time.</p>

                  <h4 class="marT30">Urgent repairs</h4>
                  <p>Nominated tradespeople for urgent repairs</p>
                  <p>Electric repairs:<input type="text" class="input_Line">Telephone:<input type="text"
                      class="input_Line"></p>
                  <p>Plumbing repairs:<input type="text" class="input_Line">Telephone:<input type="text"
                      class="input_Line"></p>
                  <p>Other repairs:<input type="text" class="input_Line">Telephone:<input type="text"
                      class="input_Line"></p>


                  <h4 class="marT30">Water usage</h4>
                  <p>Will the tenant be required to pay separately foe water usage?</p>
                  <p class="disFlex">
                    <label class="check_container">Yes<input type="checkbox"><span class="checkmark"></span></label>
                    <label class="check_container">No<input type="checkbox"><span class="checkmark"></span></label>
                  </p>

                  <h4 class="marT20">Strata-by-laws</h4>
                  <p>Are there any strata or community scheme by-laws applicable to the residential premises?</p>
                  <p class="disFlex">
                    <label class="check_container">Yes<input type="checkbox"><span class="checkmark"></span></label>
                    <label class="check_container">No<input type="checkbox"><span class="checkmark"></span></label>
                  </p>
                  <h4 class="marT20">Conditional report</h4>
                  <p>A conditon report relating to the condition of the premises must be completed by or on behalf of
                    the landlord before or when this agreement is signed</p>

                  <h4 class="marT20">Tenancy laws</h4>
                  <p>The Residential Tenancies Act 2010 and the Residential Tenancies Regulation 2010 apply to this
                    agreement. Both the landlord and the tenant must comply with these laws.</p>

                  <div class="horiLine"></div>

                  <h4 class="marT20">Agrement details</h4>
                  <div class="agree">
                    <h3 class="text-left"> The Agreement</h3>
                    <p>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                      totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                      dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                      sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                      quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                      numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim
                      ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                      ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
                      quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                    </p>
                  </div>
                  <div class="marT10">
                    <button class="btn btn-upload">Upload image</button>
                  </div>


                </div>
                <div class="horiLine marT20"></div>
                <div class="rent-btn">
                  <button class="btn btn-cancel">Cancel</button>
                  <button class="btn btn-save">Save as draft</button>
                  <button class="btn btn-upload">Proceed</button>
                </div>
              </div>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>