<div class="ContentWrap" ng-init="agreementListing();">
  <div class="ContentHead d-flex">
    <h2>Disputes</h2>
    <div class="ml-auto TenanciesButtons">
      <button class="btn btn-property" ng-click="addAgreement()">New request</button>
    </div>
  </div>
  <div class="RefineResults d-flex"></div>
  <div class="ContentBody">
    <div class="row marT10">
      <div class="agnt_list clearfix">
        <div class="col-sm-2 col-xs-12 agnt_mainImg clearfix">
          <a>
            <img src="assets/images/img_detail2.jpeg">
          </a>
        </div>
        <div class="col-sm-1 col-xs-2 text-center agntprofile detail clearfix">
          <img class="createdByImage" src="assets/images/emma.png">
        </div>
        <div class="col-sm-9  col-xs-8 detail apt-list clearfix">
          <div class="row">
            <div class="col-sm-10 clearfix">
              <h5 class="text-capitalize">Unit 5,Oasis Bulding, #3rd Street, Brisbane</h5>
              <div class="cat_id">
                <span>
                  <img src="assets/images/property-id.svg" alt="id">Agreement #84 </span>

              </div>
            </div>
            <div class="col-sm-2 col-xs-2 detail agreement">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <img src="assets/images/ios-trash.svg">
            </div>

          </div>

          <div class="row">
            <div class="col-sm-12 agree_applist">
              <div class="apt-list-details">
                <ul>
                  <li class="apt-firstuser">
                    <img src="/assets/images/user.jpg">
                  </li>
                  <li class="apt-list-img">
                    <img src="/assets/images/emma.png">
                    <img src="/assets/images/userpic.png">
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/dollar.png">
                    <span>4500</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/calendar.png">
                    <span>Jul 20, 2017</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/search.png">
                    <span>4 times</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/calendar-serch.png">
                    <span>Oct 29, 2017</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="agreeSpace"></div>
      <div class="agnt_list clearfix">
        <div class="col-sm-2 col-xs-12 agnt_mainImg clearfix">
          <a>
            <img src="assets/images/img_detail2.jpeg">
          </a>
        </div>
        <div class="col-sm-1 col-xs-2 text-center agntprofile detail clearfix">
          <img class="createdByImage" src="assets/images/george.png">
        </div>
        <div class="col-sm-9  col-xs-8 detail apt-list clearfix">
          <div class="row">
            <div class="col-sm-10 clearfix">
              <h5 class="text-capitalize">Unit 5,Oasis Bulding, #3rd Street, Brisbane</h5>
              <div class="cat_id">
                <span>
                  Agreement #84 : </span>

              </div>
            </div>
            <div class="col-sm-2 col-xs-2 detail agreement">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <img src="assets/images/ios-trash.svg">
            </div>

          </div>

          <div class="row">
            <div class="col-sm-12 agree_applist">
              <div class="apt-list-details">
                <ul>
                  <li class="apt-firstuser">
                    <img src="/assets/images/user.jpg">
                  </li>
                  <li class="apt-list-img">
                    <img src="/assets/images/user.jpg">
                    <img src="/assets/images/userpic.png">
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/dollar.png">
                    <span>4500</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/calendar.png">
                    <span>Jul 20, 2017</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/search.png">
                    <span>4 times</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/calendar-serch.png">
                    <span>Oct 29, 2017</span>
                  </li>
                </ul>
              </div>
            </div>


          </div>

        </div>
      </div>
      <div class="agreeSpace"></div>
      <div class="agnt_list clearfix">
        <div class="col-sm-2 col-xs-12 agnt_mainImg clearfix">
          <a>
            <img src="assets/images/img_detail2.jpeg">
          </a>
        </div>
        <div class="col-sm-1 col-xs-2 text-center agntprofile detail clearfix">
          <img class="createdByImage" src="assets/images/george.png">
        </div>
        <div class="col-sm-9  col-xs-8 detail apt-list clearfix">
          <div class="row">
            <div class="col-sm-10 clearfix">
              <h5 class="text-capitalize">Unit 5,Oasis Bulding, #3rd Street, Brisbane</h5>
              <div class="cat_id">
                <span>
                  <img src="assets/images/property-id.svg" alt="id">Agreement #84 </span>

              </div>
            </div>
            <div class="col-sm-2 col-xs-2 detail agreement">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <img src="assets/images/ios-trash.svg">
            </div>

          </div>

          <div class="row">
            <div class="col-sm-12 agree_applist">
              <div class="apt-list-details">
                <ul>
                  <li class="apt-firstuser">
                    <img src="/assets/images/emma.png">
                  </li>
                  <li class="apt-list-img">
                    <img src="/assets/images/user.jpg">
                    <img src="/assets/images/userpic.png">
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/dollar.png">
                    <span>4500</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/calendar.png">
                    <span>Jul 20, 2017</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/search.png">
                    <span>4 times</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/calendar-serch.png">
                    <span>Oct 29, 2017</span>
                  </li>
                </ul>
              </div>
            </div>


          </div>

        </div>
      </div>
      <div class="agreeSpace"></div>
      <div class="agnt_list clearfix">
        <div class="col-sm-2 col-xs-12 agnt_mainImg clearfix">
          <a>
            <img src="assets/images/img_detail2.jpeg">
          </a>
        </div>
        <div class="col-sm-1 col-xs-2 text-center agntprofile detail clearfix">
          <img class="createdByImage" src="assets/images/emma.png">
        </div>
        <div class="col-sm-9  col-xs-8 detail apt-list clearfix">
          <div class="row">
            <div class="col-sm-10 clearfix">
              <h5 class="text-capitalize">Unit 5,Oasis Bulding, #3rd Street, Brisbane</h5>
              <div class="cat_id">
                <span>
                  <img src="assets/images/property-id.svg" alt="id">Agreement #84 </span>
              </div>
            </div>
            <div class="col-sm-2 col-xs-2 detail agreement">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <img src="assets/images/ios-trash.svg">
            </div>

          </div>

          <div class="row">
            <div class="col-sm-12 agree_applist">
              <div class="apt-list-details">
                <ul>
                  <li class="apt-firstuser">
                    <img src="/assets/images/user.jpg">
                  </li>
                  <li class="apt-list-img">
                    <img src="/assets/images/emma.png">
                    <img src="/assets/images/userpic.png">
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/dollar.png">
                    <span>4500</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/calendar.png">
                    <span>Jul 20, 2017</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/search.png">
                    <span>4 times</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/calendar-serch.png">
                    <span>Oct 29, 2017</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="agreeSpace"></div>
      <div class="agreeSpace"></div>
      <div class="agnt_list clearfix">
        <div class="col-sm-2 col-xs-12 agnt_mainImg clearfix">
          <a>
            <img src="assets/images/img_detail2.jpeg">
          </a>
        </div>
        <div class="col-sm-1 col-xs-2 text-center agntprofile detail clearfix">
          <img class="createdByImage" src="assets/images/george.png">
        </div>
        <div class="col-sm-9  col-xs-8 detail apt-list clearfix">
          <div class="row">
            <div class="col-sm-10 clearfix">
              <h5 class="text-capitalize">Unit 5,Oasis Bulding, #3rd Street, Brisbane</h5>
              <div class="cat_id">
                <span>
                  <img src="assets/images/property-id.svg" alt="id">Agreement #84 </span>
              </div>
            </div>
            <div class="col-sm-2 col-xs-2 detail agreement">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <img src="assets/images/ios-trash.svg">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 agree_applist">
              <div class="apt-list-details">
                <ul>
                  <li class="apt-firstuser">
                    <img src="/assets/images/user.jpg">
                  </li>
                  <li class="apt-list-img">
                    <img src="/assets/images/user.jpg">
                    <img src="/assets/images/userpic.png">
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/dollar.png">
                    <span>4500</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/calendar.png">
                    <span>Jul 20, 2017</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/search.png">
                    <span>4 times</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/calendar-serch.png">
                    <span>Oct 29, 2017</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="agreeSpace"></div>
      <div class="agnt_list clearfix">
        <div class="col-sm-2 col-xs-12 agnt_mainImg clearfix">
          <a>
            <img src="assets/images/img_detail2.jpeg">
          </a>
        </div>
        <div class="col-sm-1 col-xs-2 text-center agntprofile detail clearfix">
          <img class="createdByImage" src="assets/images/emma.png">
        </div>
        <div class="col-sm-9  col-xs-8 detail apt-list clearfix">
          <div class="row">
            <div class="col-sm-10 clearfix">
              <h5 class="text-capitalize">Unit 5,Oasis Bulding, #3rd Street, Brisbane</h5>
              <div class="cat_id">
                <span>
                  <img src="assets/images/property-id.svg" alt="id">Agreement #84 </span>
              </div>
            </div>
            <div class="col-sm-2 col-xs-2 detail agreement">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <img src="assets/images/ios-trash.svg">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 agree_applist">
              <div class="apt-list-details">
                <ul>
                  <li class="apt-firstuser">
                    <img src="/assets/images/emma.png">
                  </li>
                  <li class="apt-list-img">
                    <img src="/assets/images/user.jpg">
                    <img src="/assets/images/userpic.png">
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/dollar.png">
                    <span>4500</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/calendar.png">
                    <span>Jul 20, 2017</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/search.png">
                    <span>4 times</span>
                  </li>
                  <li class="apt-list-icon">
                    <img src="/assets/images/calendar-serch.png">
                    <span>Oct 29, 2017</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <center>
        <font color="#23c5f3" style="margin-right:26px;">1 </font><span> 2 3 ... 8 9</span>
      </center>
    </div>
    <nav class="pagination-container marT20">
      <div class="pagination">
        <!-- <dir-pagination-controls max-size="10" class="pagination-newer" direction-links="true" boundary-links="true" on-page-change="pageChanged(newPageNumber)">
          </dir-pagination-controls> -->
      </div>
    </nav>
  </div>
</div>