<div class="view-animate content-wrapper" ng-init="addAdvertiseInit()">
    <section class="content-header">
        <h1>
            Advertising Manager
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a ui-sref="advertisingManager"><i class="fa fa-bullhorn"></i>Advertising Manager</a></li>
            <li class="active"><a><i class="fa fa-eye fa-eye-breadcrumb"></i>Add</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-body">
                        <form role="form" name="addAd" novalidate=""
                            class="ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength ng-dirty ng-valid-parse ng-invalid-pattern">
                            <div class="add-service-form clearfix">
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <div class="profile-box">
                                        <label class="edit-icon btn-bs-file "><i class="fa fa-pencil addCursor"
                                                aria-hidden="true" name="file" ngf-max-size="5MB" ngf-drop ngf-select
                                                ng-model="ad.file" ngf-change="upload(ad.file)" class="drop-box"
                                                ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                                ngf-allow-dir="true" accept="image/*,application/pdf"></i>
                                        </label>
                                        <div class="profile-picture">
                                            <img ng-src="/assets/images/placeholder.jpg" alt="Advertise"
                                                src="./images/noUser.jpg" id="imgTag" height="100%" width="100%"
                                                class="ng-scope">
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-sm-12 col-md-9 col-lg-10">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Ad Name</label>
                                                    <input id="adName"
                                                        class="form-control text-capitalize ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength"
                                                        type="text" name="adName" ng-model="ad.adName"
                                                        placeholder="Enter Ad Name" required>
                                                </div>
                                                <span ng-show="addAd.adName.$touched && addAd.adName.$error.required"
                                                    class="redb">
                                                    <font color="Red">First Name is required.</font>
                                                </span>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="">Postcode</label>
                                                    <input ng-model="ad.postcode" id="adPostcode"
                                                        ng-change="postcodeClick(ad.postcode);"
                                                        class="form-control text-capitalize ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength"
                                                        type="text" name="postcode" ng-model="contractor.postcode"
                                                        placeholder="Enter Postcode">
                                                </div>
                                                <span
                                                    ng-show="addAd.postcode.$touched && addAd.postcode.$error.required"
                                                    class="redb">
                                                    <font color="Red">Postcode is required.</font>
                                                </span>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>State</label>
                                                    <!-- ng-click="stateClick(ad.state);" -->
                                                    <select id="adState" ng-change="changedState(ad.state)"
                                                        ng-model="ad.state" name="state" class="form-control">
                                                        <option value="" disabled>Select State </option>
                                                        <option value="New South Wales"> New South Wales</option>
                                                        <option value="Australian Capital Territory"> Australian Capital
                                                            Territory</option>
                                                        <option value="Victoria"> Victoria</option>
                                                        <option value="Queensland"> Queensland</option>
                                                        <option value="South Australia"> South Australia</option>
                                                        <option value="Western Australia"> Western Australia</option>
                                                        <option value="Tasmania"> Tasmania</option>
                                                        <option value="Northern Territory"> Northern Territory</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="clearfix"></div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Web URL</label>
                                                    <input id="webURL"
                                                        class="form-control ng-untouched ng-valid-pattern ng-dirty ng-valid-parse ng-valid ng-valid-required"
                                                        type="text" name="webURL" ng-model="ad.webURL"
                                                        placeholder="Enter webURL" required>
                                                    <!-- ng-pattern="/^([a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9]+$)/" -->
                                                </div>
                                                <!-- <span ng-show="addAd.webURL.$error.pattern" class="redb">
                                                    <font color="Red">Please Enter valid webURL.</font>
                                                </span> -->
                                                <span ng-show="addAd.webURL.$touched && addAd.webURL.$error.required"
                                                    class="redb">
                                                    <font color="Red">WebURL is required.</font>
                                                </span>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Status</label>
                                                    <select class="form-control" ng-model="ad.adStatus" name="adStatus"
                                                        required>
                                                        <option value="" disabled>Select Status </option>
                                                        <option value="active"> Active</option>
                                                        <option value="paused">Paused</option>
                                                    </select>
                                                </div>
                                                <span
                                                    ng-show="addAd.adStatus.$touched &amp;&amp; addAd.adStatus.$error.required"
                                                    class="redb">
                                                    <font color="Red">This field is required.</font>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="">Ad Location</label>
                                                <div class="form-group">
                                                    <select class="form-control" ng-model="ad.adLocation"
                                                        name="adLocation" required>
                                                        <option value="" disabled>Select Ad Location </option>
                                                        <option value="property_detail"> Property Detail</option>
                                                    </select>
                                                </div>
                                                <span
                                                    ng-show="addAd.adLocation.$touched && addAd.adLocation.$error.required"
                                                    class="redb">
                                                    <font color="Red">This field is required.</font>
                                                </span>
                                            </div>
                                            <div class="col-sm-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="clearfix"></div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="">Comments</label>
                                                    <textarea id="comments" ng-model="ad.comments" class="form-control"
                                                        type="text" name="comments" placeholder="Enter Comments"
                                                        rows="4" cols="50"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-right margin-top-60">
                                    <button ng-if="!valuePassword" type="button" class="btn btn-primary"
                                        ng-disabled="addAd.$invalid" ng-click="addAdvertise(ad);">SAVE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<style>
    input[type=" email"] {
        text-transform: lowercase;
    }
</style>