<div class="wrapper login" style="background-image: url(/assets/images/bg_register.png);background-size: cover; ">
    <div class="login-box">
        <div class="login-logo">
            <a>
                <b></b>
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body forgotPasswordForm">
            <h4 class="login-box-msg">
                <strong>Forgot Password</strong>
            </h4>
            <form id="forgotpassword_form" name="forgotpassword_form1" novalidate>
                <div class="form-group">
                    <input class="form-control frmInput" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,50})$/"
                        name="email" placeholder="Enter email id " ng-model="forgot.email" type="email" autocomplete="off" required>
                    <span ng-show="forgotpassword_form.email.$touched && forgotpassword_form.email.$error.required" class="redb">
                        <font color="Red">This field is required.</font>
                    </span>
                    <span ng-show="forgotpassword_form.email.$error.pattern" class="redb">
                        <font color="Red">Please Enter valid Email.</font>
                    </span>
                </div>
                <div class="col-md-6 pull-right margin_zero padding_zero">
                    <button type="button" class="btn btn-primary btn-block btn-flat" ng-disabled="forgotpassword_form.$invalid" ng-click="resendPassword(forgot)">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>









<!--
 <div class="main_section loginImg">
    <div class="container">
        <div class="loginInfo registerInfo">
            <div class="row">
                <div class="col-sm-6 blueLogin" style='height:270px'>
                    <div class="loginLogo">
                        <img style="padding: 127px 1857px 1292px 184px;" src="/assets/images/logo.png">
                    </div>
                </div>
                <div class="col-sm-6 signInInfo" style='height:270px'>
                    <h2 class="title">Forgot Password</h2>
                    <div class="signFild">
                        <form id="forgotpassword_form" name="forgotpassword_form" novalidate>
                            <div class="form-group">
                                <input class="form-control frmInput" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" name="email"
                                    placeholder="Enter email id " ng-model="forgot.email" type="email" autocomplete="off" required>
                                <span ng-show="forgotpassword_form.email.$touched && forgotpassword_form.email.$error.required" class="redb"><font color="Red">This field is required.</font></span>
                                 <span ng-show="forgotpassword_form.email.$error.pattern" class="redb"><font color="Red">Please Enter valid Email.</font></span>
                            </div>
                            <button type="button" class="btnSignIn" ng-disabled="forgotpassword_form.$invalid" ng-click="resendPassword(forgot)">Reset Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  -->
