<div class="wrapper login" style="background-image: url(/assets/images/bg_register.png);background-size: cover; ">
    <div class="login-box">
        <div class="login-logo">
            <a ><b></b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body resetPasswordForm" >
            <h4 class="login-box-msg"><strong>Reset Password</strong></h4>
            <form id="resetPassword_form" name="resetPassword_form" novalidate>
                <div class="form-group">
                    <input class="form-control frmInput" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{5,15}$/" name="password"
                        placeholder="Enter password" ng-model="reset.password" type="password" required>
                    <span class="text-danger" ng-show="resetPassword_form.password.$error.pattern"><font color="Red">The password must be a combination of lowercase, uppercase, numeric, and special character with a maximum length of 15</font></span>
                    <span ng-show="resetPassword_form.password.$touched && resetPassword_form.password.$error.required" class="redb"> <font color="Red">This field is required.</font></span>
                </div>
                <div class="form-group">
                    <input class="form-control frmInput" name="confirmPassword" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{5,15}$/"
                        placeholder="Enter confirm password" ng-model="confirmPassword" type="password" required>
                    <span class="text-danger" ng-show="resetPassword_form.confirmPassword.$error.pattern"><font color="Red">The password must be a combination of lowercase, uppercase, numeric, and special character with a maximum length of 15</font></span>
                    <span ng-show="resetPassword_form.confirmPassword.$touched && resetPassword_form.confirmPassword.$error.required" class="redb"><font color="Red">This field is required.</font></span>
                </div>
                <div class="col-md-6 pull-right margin_zero padding_zero" style=' margin-left: 100px;
                margin-top: -6px;'>
                    <button type="button" class=" btn btn-primary btn-block btn-flat " ng-disabled="resetPassword_form.$invalid" ng-click="resetPassword(reset,confirmPassword)" >Submit</button>
                </div>
                </form>
        </div>
    </div>
    </div>
    
    
    
    
    
    