<!-- Modal content -->
<div class="modal-content main_newReq" style="width: 100%" ng-init="disputesInitialize();watcherInfo();">
    <div class="modal-header">
        <span class="close close-btn" ng-click="cancel()">&times;</span>
        <img class="" ng-src="{{imageUrl}}{{path}}" style="width:100%;hight:100%;">
    </div>
    <div class="modal-body clearfix" ng-init="disputesInit()">
        <div class="row  marT20">
            <div class="col-xs-12 col-sm-12 col-md-12" ng-init="getAgencyProperty()">

                <div class="col-sm-3">
                    <div class="form-group text-left">
                        <label class="control-label" for="product_categorie">Uploaded By</label>
                    </div>
                </div>
                <div class="col-sm-9">
                    <p>{{document.created_by.firstname}} {{document.created_by.lastname}}</p>
                </div>
                <!-- <div class="clearfix"></div>
                <div class="col-sm-3">
                        <div class="form-group text-left" ng-if="userRoleId==tenant">
                        <label class="control-label" for="product_categorie">Used in</label>
                    </div>
                </div>
                <div class="col-sm-9">
                    <p><a href="#" style="word-wrap: break-word;">http://172.10.1.7:8003/root/syncitfrontend/commits/master</a></p>
                    <p><a href="#" style="word-wrap: break-word;">http://52.34.207.5:5094/#!/property_listing</a></p>
                    <p><a href="#" style="word-wrap: break-word;">https://projects.invisionapp.com/d/main#/console/11695410/255628437/preview</a></p>
                </div> -->
                <div class="clearfix"></div>
                <div class="col-sm-3">
                    <div class="form-group text-leftp inspection">
                        <label class="control-label" for="product_categorie">Tagged User</label>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="apt-list-details">
                        <ul>
                            <li ng-repeat="users in document.is_tagged_to_id" class="apt-firstuser">
                                <a href="/#!/profile/{{users._id}}"><img ng-src="{{userImageUrl}}{{users.image}}"
                                        src="assets/images/no_image.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- </div> -->