<div class="view-animate content-wrapper" ng -view>
    <section class="content-header">
        <h1>
            Maintenenance Requests
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a class="active"><i class="fa fa-home"></i>Maintenenance Requests</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body" ng-init="getMRcount()">
                        <div class="row">
                            <div class="col-sm-12 text-right MR-count-panel">
                                <div class="ColorSky">
                                    <h3> {{MRcount.sentCount}} </h3>
                                    <p>Sent</p>
                                </div>
                                <div class="ColorYellow">
                                    <h3> {{MRcount.acceptedCount}} </h3>
                                    <p>Accepted</p>
                                </div>
                                <div class="ColorPurple">
                                    <h3> {{MRcount.bookedCount}} </h3>
                                    <p>Booked</p>
                                </div>
                                <div class="ColorGreen">
                                    <h3> {{MRcount.completedCount}} </h3>
                                    <p>Completed</p>
                                </div>
                                <div class="ColorOrange">
                                    <h3> {{MRcount.closedCount}} </h3>
                                    <p>Closed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-init="getMRList(1)">
                <div class="col-xs-12">
                    <div class="box-body box box-warning  table-responsive">
                        <table class="table table-bordered ng-scope ng-table">
                            <thead class="">
                                <tr>
                                    <th title="" class="header" style="cursor:default">
                                        <div class="ng-table-header "> <span>Image</span> </div>

                                    </th>
                                    <th title="" class="header  sortable addCursor">
                                        <div class="ng-table-header " ng-click='sortColumn("address")'
                                            ng-class='sortClass("address")'><span>Address</span> </div>
                                    </th>
                                    <th title="" class="header  sortable addCursor">
                                        <div class="ng-table-header " ng-click='sortColumn("address")'
                                            ng-class='sortClass("address")'><span>Title</span> </div>
                                    </th>
                                    <th title="" class="header  sortable addCursor" width="110px">
                                        <div class="ng-table-header " ng-click='sortColumn("address")'
                                            ng-class='sortClass("address")'><span>Post Date</span> </div>
                                    </th>
                                    <th title="" class="header  sortable addCursor">
                                        <div class="ng-table-header " ng-click='sortColumn("address")'
                                            ng-class='sortClass("address")'>
                                            <span>Applicants</span>
                                        </div>
                                    </th>
                                    <th title="" class="header  sortable addCursor" width="110px">
                                        <div class="ng-table-header " ng-click='sortColumn("budget")'
                                            ng-class='sortClass("budget")'><span>Budget</span>
                                        </div>
                                    </th>
                                    <th title="" class="header sortable addCursor">
                                        <div class="ng-table-header"> <span>Status</span> </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="maintenance in maintenanceList|orderBy:column:reverse|itemsPerPage:10"
                                    total-items="totalRecord">
                                    <td>
                                        <span class="chat-img pull-left">
                                            <img src="./images/placeholder.jpg"
                                                ng-src="{{imageUrl}}/{{maintenance.images[0].path}}" width="100px"
                                                alt="maintenance">
                                        </span>
                                    </td>
                                    <td class="text-capitalize">{{maintenance.address}}</td>
                                    <td class="text-capitalize">{{maintenance.request_overview}}</td>
                                    <td class="text-capitalize"> {{maintenance.createdAt | date}} </td>
                                    <td class="text-capitalize" ng-if="maintenance.trader_id"> Direct </td>
                                    <td class="text-capitalize" ng-if="!maintenance.trader_id"> Public </td>
                                    <!-- <td class="text-capitalize" ng-if="maintenance.request_type == 0"> Direct </td>
                                    <td class="text-capitalize" ng-if="maintenance.request_type == 1"> - </td> -->
                                    <td class="text-capitalize">{{maintenance.budget}}</td>
                                    <td class="text-capitalize" ng-if="maintenance.req_status == 1"> Sent </td>
                                    <td class="text-capitalize" ng-if="maintenance.req_status == 2"> Accepted </td>
                                    <td class="text-capitalize" ng-if="maintenance.req_status == 3"> Booked </td>
                                    <td class="text-capitalize" ng-if="maintenance.req_status == 4"> Closed </td>
                                    <td class="text-capitalize" ng-if="maintenance.req_status == 5"> Completed </td>
                                    <td class="text-capitalize" ng-if="maintenance.req_status == 6"> For Due </td>
                                    <td class="text-capitalize" ng-if="maintenance.req_status == 7"> Denied </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="maintenanceList.length==0" style='color:#605ca8;font-size: 15px;'>
                            <center>No records found</center>
                        </div>
                    </div>

                    <div class="pull-right"
                        style="font-size:14px;margin-bottom:25px;margin-top:-11px;margin-right: 4px;">
                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                            on-page-change="paginationClick(newPageNumber)">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
    </section>
</div>
<style>
    .propertyClass {
        text-transform: lowercase;
    }

    .btn.btn-sm.btn-info.uib-datepicker-current.ng-binding {
        display: none;
    }

    .btn.btn-sm.btn-danger.uib-clear.ng-binding {
        display: none;
    }
</style>