@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Regular.eot');
    src: url('SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Regular.woff') format('woff'),
        url('SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Medium.eot');
    src: url('SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('SFUIDisplay-Medium.woff') format('woff'),
        url('SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('SFMono-BoldItalic.eot');
    src: url('SFMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SFMono-BoldItalic.woff') format('woff'),
        url('SFMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF Mono';
    src: url('SFMono-HeavyItalic.eot');
    src: url('SFMono-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('SFMono-HeavyItalic.woff') format('woff'),
        url('SFMono-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Thin.eot');
    src: url('SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('SFUIDisplay-Thin.woff') format('woff'),
        url('SFUIDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-HeavyItalic.eot');
    src: url('SFUIText-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-HeavyItalic.woff') format('woff'),
        url('SFUIText-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Mono';
    src: url('SFMono-Medium.eot');
    src: url('SFMono-Medium.eot?#iefix') format('embedded-opentype'),
        url('SFMono-Medium.woff') format('woff'),
        url('SFMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Semibold.eot');
    src: url('SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('SFUIDisplay-Semibold.woff') format('woff'),
        url('SFUIDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Black.eot');
    src: url('SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('SFUIDisplay-Black.woff') format('woff'),
        url('SFUIDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('SFMono-MediumItalic.eot');
    src: url('SFMono-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('SFMono-MediumItalic.woff') format('woff'),
        url('SFMono-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Regular.eot');
    src: url('SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFUIDisplay-Regular.woff') format('woff'),
        url('SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-UltralightItalic.eot');
    src: url('SFUIText-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-UltralightItalic.woff') format('woff'),
        url('SFUIText-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Light.eot');
    src: url('SFUIText-Light.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Light.woff') format('woff'),
        url('SFUIText-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-MediumItalic.eot');
    src: url('SFUIText-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-MediumItalic.woff') format('woff'),
        url('SFUIText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Heavy.eot');
    src: url('SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('SFUIDisplay-Heavy.woff') format('woff'),
        url('SFUIDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Ultralight.eot');
    src: url('SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('SFUIDisplay-Ultralight.woff') format('woff'),
        url('SFUIDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Heavy.eot');
    src: url('SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Heavy.woff') format('woff'),
        url('SFUIText-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-LightItalic.eot');
    src: url('SFUIText-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-LightItalic.woff') format('woff'),
        url('SFUIText-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-SemiboldItalic.eot');
    src: url('SFUIText-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-SemiboldItalic.woff') format('woff'),
        url('SFUIText-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Semibold.eot');
    src: url('SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Semibold.woff') format('woff'),
        url('SFUIText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('SFMono-Light.eot');
    src: url('SFMono-Light.eot?#iefix') format('embedded-opentype'),
        url('SFMono-Light.woff') format('woff'),
        url('SFMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-BoldItalic.eot');
    src: url('SFUIText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-BoldItalic.woff') format('woff'),
        url('SFUIText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF Mono';
    src: url('SFMono-Heavy.eot');
    src: url('SFMono-Heavy.eot?#iefix') format('embedded-opentype'),
        url('SFMono-Heavy.woff') format('woff'),
        url('SFMono-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Medium.eot');
    src: url('SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Medium.woff') format('woff'),
        url('SFUIText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Regular_1.eot');
    src: url('SFUIText-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Regular_1.woff') format('woff'),
        url('SFUIText-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('SFMono-Regular.eot');
    src: url('SFMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFMono-Regular.woff') format('woff'),
        url('SFMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-RegularItalic.eot');
    src: url('SFUIText-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-RegularItalic.woff') format('woff'),
        url('SFUIText-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Ultralight.eot');
    src: url('SFUIText-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Ultralight.woff') format('woff'),
        url('SFUIText-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Bold.eot');
    src: url('SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Bold.woff') format('woff'),
        url('SFUIText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('SFMono-Bold.eot');
    src: url('SFMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('SFMono-Bold.woff') format('woff'),
        url('SFMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF Mono';
    src: url('SFMono-Semibold.eot');
    src: url('SFMono-Semibold.eot?#iefix') format('embedded-opentype'),
        url('SFMono-Semibold.woff') format('woff'),
        url('SFMono-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Mono';
    src: url('SFMono-RegularItalic.eot');
    src: url('SFMono-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('SFMono-RegularItalic.woff') format('woff'),
        url('SFMono-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Light.eot');
    src: url('SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('SFUIDisplay-Light.woff') format('woff'),
        url('SFUIDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Bold.eot');
    src: url('SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('SFUIDisplay-Bold.woff') format('woff'),
        url('SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}