<div class="modal-content" style="width: 100%" id="modal">
    <div class="modal-header">
      <button class="close" type="button" ng-click="cancel()">
        <span aria-hidden="true">×</span>
      </button>
      <h3 id="myModalLabel" class="modal-title">
        <strong>Write a review</strong>
      </h3>
    </div>
    <div class="modal-body">
      <form novalidate="" enctype="multipart/form-data" name="reviewForm" ng-init="user_submit = false" role="form"
        novalidate autocomplete="off">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 ">
            <div class="request_pro clearfix">
              <div class="contact_info">
                <div class="img-width inspection">
                  <img ng-if="userInfo.image" ng-src="{{imageUrl}}{{userInfo.image}}" alt="">
                  <div ng-if="!userInfo.image" class="default_100">
                    {{userInfo.firstname.charAt(0).toUpperCase()}}{{userInfo.lastname.charAt(0).toUpperCase()}}
                </div>
                </div>
                <h5 class="text-capitalize">{{userInfo.firstname}} {{userInfo.lastname}}</h5>
                <div class="rating">
                  <span ng-if="!isRatingFractional" uib-rating ng-model="userRate" max="userMax" read-only="isUserReadonly" on-leave="overStar = null"
                    titles="['one','two','three']" aria-labelledby="default-rating"></span>
                    <ul ng-if="isRatingFractional">
                      <div class="rating_class" ng-repeat="ratingValue in frationalArray track by $index">
                          <li ng-if="ratingValue=='integer'"><i class="fa fa-star"></i></li>      
                          <li ng-if="ratingValue=='fractional'"><i class="fa fa-star"></i></li>      
                          <li ng-if="ratingValue=='fractional'"><i class="fa fa-star-half"></i></li>      
                      </div>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <p>{{userRate}} from {{outOFReviewer}} reviews</p>
              </div>
            </div>
          </div>
  
          <div class="col-xs-8 col-sm-8 col-md-8 ">
            <div class="request_rev">
              <div class="form-group text-left">
                <label class="control-label" for="product_categorie">Let other know your experience working with <span class="text-capitalize">{{userInfo.firstname}}</span><font color="Red">*</font></label>
                <textarea  name="review" ng-maxlength="250" ng-model="reviewData.review_comments"  placeholder="Write a review" class="form-control" rows="4" required></textarea>
                <span class="error-span inner-error ng-binding " ng-show="reviewForm.review.$error.required && reviewForm.review.$touched "
                  class="error-span inner-error ng-binding ">
                  <font color="Red">Review is Required</font>
                </span>
                <span ng-show="reviewForm.review.$error.maxlength" class="error-span inner-error ng-binding">
                  <font color="Red">Max 250 characters allowed</font>
                </span>
              </div>
            </div>
  
            <div class="req_Rew_Rating marB10">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Quality of work</h3>
                </div>
                <div class="col-sm-6">
                  <div class="rating">
                    <span uib-rating ng-model="qualityOfWorkRate" max="qualityOfWorkMax" read-only="isReadonly" on-hover="qualityOfWorkOver(qualityOfWorkRate)"
                    on-leave="qualityOfWorkOver(qualityOfWorkRate)" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                  </div>
                  <p>{{qualityOfWorkLabel}}</p>
                </div>
              </div>
            </div>
  
            <div class="req_Rew_Rating marB10">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Punctuality</h3>
                </div>
                <div class="col-sm-6">
                  <div class="rating">
                    <span uib-rating ng-model="punctualityRate" max="punctualityMax" read-only="isReadonly" on-hover="punctualityOver(punctualityRate)" on-leave="punctualityOver(punctualityRate)"
                      titles="['one','two','three']" aria-labelledby="default-rating"></span>
                  </div>
                  <p>{{punctualityLabel}}</p>
                </div>
              </div>
            </div>
  
            <div class="req_Rew_Rating marB10">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Communication</h3>
                </div>
                <div class="col-sm-6">
                  <div class="rating">
                    <span uib-rating ng-model="communicationRate" max="communicationMax" read-only="isReadonly" on-hover="communicationOver(communicationRate)"
                    on-leave="communicationOver(communicationRate)" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                  </div>
                  <p>{{communicationLabel}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-cancel" ng-click="cancel()">No, thank you</button>
          <button class="btn btn-savechanges" ng-disabled="reviewForm.$invalid" ng-click="addReview(reviewData)">Submit review</button>
        </div>
      </form>
    </div>
  </div>
  <!-- <script>
      $("#modal .close ").click()
  </script> -->
  <style>
    .rating_class{
      display: inline;
    }
  </style>