<div class="section bg_reg">
    <div class="container">
        <div class="logo"></div>
        <div class="regis" ng-init="checkforManagerRequest()">
            <form id="account_activation_form" name="account_activation_form" novalidate>
                <div class="row">
                    <h1 class="marB30">You are almost done!</h1>
                    <div class="row ">
                        <div class="col-sm-6 col-xs-12 marB20">
                            <label>First name</label>
                            <input type="text" autocomplete="off" class="formInput" ng-pattern="/^[a-zA-Z ]*$/"
                                ng-maxlength="25" name="firstname" ng-model="accountActivationData.firstname"
                                type="text" required />
                            <span
                                ng-show="account_activation_form.firstname.$touched && account_activation_form.firstname.$error.required"
                                class="redb">
                                <font color="Red">This field is required.</font>
                            </span>
                            <span class="error-span inner-error ng-binding"
                                ng-show="account_activation_form.firstname.$error.pattern"
                                class="error-span inner-error ng-binding">
                                <font color="Red">First Name Must Contain Alphabet</font>
                            </span>
                            <span ng-show="account_activation_form.firstname.$error.maxlength"
                                class="error-span inner-error ng-binding">
                                <font color="Red">Max 25 characters allowed</font>
                            </span>
                        </div>
                        <div class="col-sm-6 col-xs-12 marB20">
                            <label>Last name</label>
                            <input type="text" class="formInput" ng-pattern="/^[a-zA-Z ]*$/" ng-maxlength="25"
                                ng-model="accountActivationData.lastname" type="text" name="Last name" required />
                            <span
                                ng-show="account_activation_form.lastname.$touched && account_activation_form.lastname.$error.required"
                                class="redb">
                                <font color="Red">This field is required.</font>
                            </span>
                            <span class="error-span inner-error ng-binding"
                                ng-show="account_activation_form.lastname.$error.pattern"
                                class="error-span inner-error ng-binding">
                                <font color="Red">Last Name Must Contain Alphabet</font>
                            </span>
                            <span ng-show="account_activation_form.lastname.$error.maxlength"
                                class="error-span inner-error ng-binding">
                                <font color="Red">Max 25 characters allowed</font>
                            </span>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-6 col-xs-12 marB20">
                            <label>Mobile number</label>
                            <input type="text" class="formInput" ng-model="accountActivationData.mobile_no"
                                name="mobile_no" ng-maxlength="14" ng-pattern="/^[0-9]*$/" ng-model="signStep2.mobile"
                                required />
                            <font color: "Red">
                                <span
                                    ng-show="account_activation_form.mobile_no.$touched && account_activation_form.mobile_no.$error.required"
                                    class="redb">
                                    <font color="Red">This field is required.</font>
                                </span>
                            </font>
                            <span class="text-danger" ng-show="account_activation_form.mobile_no.$error.pattern">
                                <font color="Red">Only numbers are allowed.</font>
                            </span>
                            <span ng-show="account_activation_form.mobile_no.$error.maxlength"
                                class="error-span inner-error ng-binding">
                                <font color="Red">Max 14 digits are allowed</font>
                            </span>
                        </div>
                        <div class="col-sm-6 col-xs-12 marB20">
                            <label>Email address</label>
                            <input type="text" ng-maxlength="254" class="formInput" name="email"
                                ng-model="accountActivationData.email" disabled />
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-6 col-xs-12">
                            <label>Password</label>
                            <input type="password" class="formInput" name="password"
                                ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{5,15}$/"
                                ng-model="accountActivationData.password" min="5" max="15" required />
                            <font color: "Red">
                                <span
                                    ng-show="account_activation_form.password.$touched && account_activation_form.password.$error.required"
                                    class="redb">
                                    <font color="Red">This field is required.</font>
                                </span>
                            </font>
                            <span class="text-danger" ng-show="account_activation_form.password.$error.pattern">
                                <font color="Red">Password should be 5 character long and must contain at least one
                                    lowercase, one uppercase, one number, and one special character.</font>
                            </span>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <label>Confirm Password</label>
                            <input type="password" class="formInput"
                                ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{5,15}$/" min="5"
                                max="15" name="confirmPassword" ng-model="accountActivationData.confirmPassword"
                                required />
                            <!-- <input type="password" placeholder="Confirm Password" class="formInput"  ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{5,15}$/"
                  name="confirmPassword" ng-model="accountActivationData.confirmPassword" valid-password-c="accountActivationData.password" required/> -->
                            <span class="text-danger" ng-show="account_activation_form.confirmPassword.$error.pattern">
                                <font color="Red">Password should be 5 character long and must contain at least one
                                    lowercase, one uppercase, one number, and one special character.</font>
                            </span>
                            <span
                                ng-show="account_activation_form.confirmPassword.$touched && account_activation_form.confirmPassword.$error.required"
                                class="redb">
                                <font color="Red">This field is required.</font>
                            </span>
                            <span class="redb"
                                ng-show="account_activation_form.confirmPassword.$touched  && account_activation_form.confirmPassword.$error.noMatch">
                                <font color="Red">Confirm password not matched</font>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 marB20">
                            <div class="checkbox marB20">
                                <h3>
                                    <input id="checkbox-1" ng-model="accountActivationData.checkedStatus"
                                        class="checkbox-custom" name="checkbox-1" type="checkbox" checked>
                                    <label for="checkbox-1" class="checkbox-custom-label">Yes, I understand and agree to
                                        <span>Ownly Conditions</span> including
                                        <span>User agreement</span> and
                                        <span>Privacy Policy</span>.</label>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-center marB20">
                        <button ladda="loginLoading" data-style="slide-right"
                            ng-click="accountActivationSubmit(accountActivationData)"
                            ng-disabled="account_activation_form.$invalid" type="submit"
                            class="btn-login">submit</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- <p class="message_line">Have an account?
            <a ui-sref="login">Log in here</a>
        </p> -->
    </div>
</div>