<div class="section">
    <div class="container">
        <div class="logo"></div>
        <div class="regis1" ng-init="checkforManagerRequest()">
            <div class="row">
                <h1 class="marB30">Click on Confirm to continue</h1>
                <div class="text-center marB20">
                    <button type="submit" ng-click="confirmRoleSubmit()" class="btn-login">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>