<link href="/assets/css/custom_style.css" rel="stylesheet" type="text/css">

<div class="section bg">
    <div class="container">
        <div class="logo"></div>
        <div class="frgtpass">
            <form id="forgotpassword_form" name="forgotpassword_form" novalidate>
                <h1>Password reset</h1>
                <p class="forgotPasswordAlign">Please enter the email address that you used to sign up so we can send
                    you a password reset link</p>
                <div class="marB20">
                    <label>Email address</label>
                    <input ng-maxlength="254" class="form-control frmInput" ng-enter="resendPassword(forgot)"
                        name="username" placeholder="Email" type="text" ng-model="forgot.email"
                        ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,50})$/"
                        autocomplete="off" required />
                    <span
                        ng-show="forgotpassword_form.username.$touched && forgotpassword_form.username.$invalid || forgotpassword_form.username.$error.pattern"
                        class="redb">
                        <font color="Red">Please provide valid email .</font>
                    </span>
                    <span ng-show="forgotpassword_form.username.$error.maxlength" class="redb">
                        <font color="Red">Max 254 characters allowed.</font>
                    </span>
                    <div class="text-center marB20 marT50"> <button type="button" ladda="loginLoading"
                            data-style="slide-right" class="btn-login" ng-click="resendPassword(forgot)">Send</button>
                    </div>
                </div>
            </form>
        </div>

        <p class="message1">Back to
            <a class="pointer" ui-sref="login">Log in</a>
        </p>
    </div>
</div>
<style>
    .formLogin h1 {
        /* font-size: initial; */
        font-size: 34px;
    }

    .forgotPasswordAlign {
        margin-bottom: 30px;
    }
</style>
