<link href="/assets/css/custom_style.css" rel="stylesheet" type="text/css">
<div  class="section bg">
    <div class="container">
<div class="forgotPasswordBody">
    <div class="logo"></div>
    <div class="regenerate">
        <form id="regenerate_form" name="regenerate_form" novalidate>
            <h1 class="regenreate  " >You requested a password reset link</h1>
            <p class="forgotPasswordAlign regText ">Instructions to reset your password have been sent to you.Please check your email.</p>
            <div class="text-center marB20 marT30">

                <button  type="button" class="btn-login pointer " ladda="loginLoading" data-style="slide-right" ng-click="reGeneratePassword()">Re-Send</button>
            </div>
        </form>
    </div>
    <p  class="message1">Back to
        <a  class="pointer" ui-sref="login">Log in</a>
    </p>
</div>
</div>
</div>