<link href="/assets/css/custom_style.css" rel="stylesheet" type="text/css">
<div  class="section bg">
    <div class="container">

    <div class="logo"></div>
    <div class="form resetPass"  ng-init="checkResetPasswordLink()">
        <form id="resetPassword_form" name="resetPassword_form" novalidate>
            <h1 >Reset Password</h1>
            <div class="marB30">
                <label>Password</label>
                <input class="form-control frmInput" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{5,15}$/" name="password"
                placeholder="Password" ng-model="reset.password" type="password" ng-maxlength="15" required/>
                <span class="text-danger" ng-show="resetPassword_form.password.$error.pattern"><font color="Red">It has to be a combination of lowercase, uppercase, numeric, and special character.</font></span>
                <span ng-show="resetPassword_form.password.$touched && resetPassword_form.password.$error.required" class="redb"> <font color="Red">This field is required.</font></span>
                <span class="text-danger" ng-show="resetPassword_form.password.$error.maxlength">
                        <font color="Red">Max allowed length is 15.</font>
                </span>
            </div>
            <div class="marB30">
                <label>Confirm Password</label>
                <input class="form-control frmInput" ng-enter="resetPassword(reset,confirmPassword)" name="confirmPassword" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{5,15}$/"
                placeholder="Confirm Password" ng-model="confirmPassword" type="password" ng-maxlength="15" required/>
                <span class="text-danger" ng-show="resetPassword_form.confirmPassword.$error.pattern"><font color="Red">It has to be a combination of lowercase, uppercase, numeric, and special character.</font></span>
                <span ng-show="resetPassword_form.confirmPassword.$touched && resetPassword_form.confirmPassword.$error.required" class="redb"><font color="Red">This field is required.</font></span>
                <span class="text-danger" ng-show="resetPassword_form.confirmPassword.$error.maxlength">
                        <font color="Red">Max allowed length is 15.</font>
                </span>
            </div>
            <div class="text-center marT30 marB30">
                <button type="button" class="btn-login" ladda="loginLoading" data-style="slide-right" ng-click="resetPassword(reset,confirmPassword)">Reset</button>
            </div>
        </form>
    </div>
    <p  class="message1">Back to
            <a  class="pointer" ui-sref="login">Log in</a>
        </p>
</div>
</div>