<div class="main_section" ng-click="propertyError()">
  <div class="row">
    <div class="page-content page-content-default">
      <div class="col-md-12">
        <div class="block-error">
           <div class="error-num">404</div> 
          <div class="error-text">No Property Exist For This Id
             <br/><br/>
          </div>
           <a class="btn-dash" ui-sref="dashboard" type="button" onClick="">Back to Dashboard</a>
          <a class="btn-pre" a ui-sref="home" type="button">Back to Home</a>
        </div>

      </div>
    </div>
  </div>
</div>