<div class="view-animate content-wrapper" ng-init="userDetailViewForEdit()">
    <section class="content-header">
        <h1>
            My Profile
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <!-- <li><a ui-sref="userManagement">Users</a></li> -->
            <li><a><i class="fa fa-user"></i> Admin Profile</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <!-- ng-init="findOne(); staffView();" -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-edit" aria-hidden="true">&nbsp;&nbsp;</i> Edit Profile </h3>
                        <div class="pull-right"><a ng-click="goBack()"><i class="fa fa-angle-left margin-r-5" aria-hidden="true"></i> Back</a></div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form" name="editUser" novalidate="" class="ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength ng-dirty ng-valid-parse ng-invalid-pattern">
                            <div class="add-service-form clearfix">
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <div class="profile-box">
                                        <label class="edit-icon btn-bs-file "><i class="fa fa-pencil addCursor" aria-hidden="true"   name="file" ngf-max-size="5MB" ngf-drop ngf-select ng-model="user[0].files" ngf-change="upload(user[0].files)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*,application/pdf"></i>
                                        <!-- <input type="file" id="filePicker"> -->
             
                                    </label>
                                        <div class="profile-picture">
                                            <img err-src="/assets/images/profile_bg.jpg" ng-src="{{imageUrl}}{{user[0].image}}"
                                                alt="profile" src="./images/noUser.jpg" id="imgTag" height="100%" width="100%"
                                                class="ng-scope">
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-sm-12 col-md-9 col-lg-10">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="sub-service-title">
                                                    <h3><span>Personal Details</span></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">First Name*</label>
                                                    <input ng-disabled="valuePassword" id="firstname" class="form-control text-capitalize ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength"
                                                        type="text" name="firstname" ng-model="user[0].firstname" ng-maxlength="25"
                                                        placeholder="Enter First Name" ng-pattern="/^[a-zA-Z\s]*$/" required>
                                                    <!-- ngIf: form.firstname.$touched || form.$submitted -->
                                                </div>
                                                <span ng-show="editUser.firstname.$touched && editUser.firstname.$error.required" class="redb"><font color="Red">First Name is required.</font></span>
                                                <span class="error-span inner-error ng-binding" ng-show="editUser.firstname.$error.pattern" class="error-span inner-error ng-binding"><font color="Red">First Name Must Contain Alphabet</font></span>
                                                <span ng-show="editUser.firstname.$error.maxlength" class="error-span inner-error ng-binding"><font color="Red">Max 25 characters allowed</font></span>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Last Name*</label>
                                                    <input ng-disabled="valuePassword" id="lastname" ng-model="user[0].lastname" class="form-control text-capitalize ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength"
                                                        type="text" name="lastname" ng-model="contractor.lastname" placeholder="Enter Last Name"
                                                        ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="25" required>
                                                    <!-- ngIf: form.lastname.$touched || form.$submitted -->
                                                </div>
                                                <span ng-show="editUser.lastname.$touched && editUser.lastname.$error.required" class="redb"><font color="Red">Last Name is required.</font></span>
                                                <span class="error-span inner-error ng-binding" ng-show="editUser.lastname.$error.pattern" class="error-span inner-error ng-binding"><font color="Red">Last Name Must Contain Alphabet</font></span>
                                                <span ng-show="editUser.lastname.$error.maxlength" class="error-span inner-error ng-binding"><font color="Red">Max 25 characters allowed</font></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="clearfix"></div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Email*</label>
                                                    <input ng-disabled="valuePassword" id="email" readonly class="form-control notAllowed  ng-untouched ng-valid-pattern ng-dirty ng-valid-parse ng-valid ng-valid-required"
                                                        type="text" name="email" ng-model="user[0].email" ng-pattern="/^([a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9]+$)/"
                                                        placeholder="Enter Email" required>
                                                    <!-- ngIf: form.email.$touched || form.$submitted -->
                                                </div>
                                                <span ng-show="editUser.email.$error.pattern" class="redb"><font color="Red">Please Enter valid Email.</font></span>
                                                <span ng-show="editUser.email.$touched && editUser.email.$error.required" class="redb"><font color="Red">Email is required.</font></span>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Mobile Number*</label> <span class="mobileNumber"></span>
                                                    <input ng-disabled="valuePassword" type="text" name="mobile_no" placeholder="Mobile Number" ng-model="user[0].mobile_no" ng-pattern="/^[89]\d{7}$/" minlength="8"
                                                        maxlength="8" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern"
                                                        type="text" name="phone_number" placeholder="Enter Phone Number">
                                                </div>
                                                <span ng-show="editUser.mobile_no.$touched &amp;&amp; editUser.mobile_no.$error.required" class="redb"><font color="Red">This field is required.</font></span>
                                                <span ng-show=" !editUser.mobile_no.$error.required &amp;&amp; editUser.mobile_no.$error.pattern" class="redb ng-hide"><font color="Red">Mobile number should be 8 digits and it starts with either 8 or 9.</font></span>
                                            </div>
                                            <!-- <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Password*</label>
                                                <input id="password" class="form-control ng-untouched ng-invalid ng-valid-minlength ng-valid-maxlength ng-dirty ng-valid-parse ng-valid-required ng-invalid-pattern" type="password" name="password"  placeholder="Enter Password" required="">
                                            </div>
                                        </div>  -->
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="">Gender*</label>
                                                <div class="form-group">
                                                    <input ng-disabled="valuePassword" ng-model="user[0].gender" type="radio" name="gender" value=1 ng-required="!editUser.gender">                                                    Male
                                                    <input ng-disabled="valuePassword" ng-model="user[0].gender" type="radio" name="gender" value=2 ng-required="!editUser.gender">                                                    Female
                                                    <!-- <input ng-disabled="valuePassword" ng-model="user[0].gender" type="radio" name="gender" value=3 ng-required="!editUser.gender">                                                    Other -->
                                                </div>
                                                <span ng-show="editUser.gender.$touched && editUser.gender.$error.required" class="redb"><font color="Red">This field is required.</font></span>
                                            </div>
                                            <div class="col-sm-6"></div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-md-8">
                                                <div class="sub-service-title">
                                                    <h3><span>Change Password</span></h3>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                            <label class="switch">
                                                     <input type="checkbox" ng-model="valuePassword">
                                                     <span class="slider round"></span>
                                                    </label>
                                            </div>
                                        </div>
                                        <div class="row" >
                                            <div class="clearfix"></div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Current Password</label>
                                                    <input ng-model = "password.current" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{5,15}$/" ng-disabled="!valuePassword" id="current_paswd" type="password" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" type="password"
                                                        name="currentPassword" placeholder="Enter Current Password" required>
                                                </div>
                                                 <span ng-show="editpassword.currentPassword.$touched && editpassword.currentPassword.$error.required"
                                                class="redb"><font color="Red">This field is required.</font></span>
                                                <span class="text-danger" ng-show="editpassword.currentPassword.$error.pattern"><font color="Red">The password must be a combination of lowercase, uppercase, numeric, and special character with a maximum length of 15</font></span>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">New Password</label>
                                                    <input ng-model = "password.new" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{5,15}$/" ng-disabled="!valuePassword" id="new_paswd" class="form-control ng-pristine ng-untouched ng-valid" type="password" name="newPassword" placeholder="Enter New Password" required>       
                                                </div>
                                                 <span ng-show="editpassword.newPassword.$touched && editpassword.newPassword.$error.required"
                                                class="redb"><font color="Red">This field is required.</font></span>
                                                <span class="text-danger" ng-show="editpassword.newPassword.$error.pattern"><font color="Red">The password must be a combination of lowercase, uppercase, numeric, and special character with a maximum length of 15</font></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="clearfix"></div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Confirm Password</label>
                                                    <input ng-model = "password.confirm" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{5,15}$/"  ng-disabled="!valuePassword" id="confirm_paswd" type="password" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" type="password"
                                                        name="confirmPassword" placeholder="Enter Confirm Password" required>
                                                </div>
                                                 <span ng-show="editpassword.confirmPassword.$touched && editpassword.confirmPassword.$error.required"
                                                class="redb"><font color="Red">This field is required.</font></span>
                                                <span class="text-danger" ng-show="editpassword.confirmPassword.$error.pattern"><font color="Red">The password must be a combination of lowercase, uppercase, numeric, and special character with a maximum length of 15</font></span>
                                            </div>
                                        </div> -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="sub-service-title">
                                                    <h3><span>Contact Details</span></h3>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="clearfix"></div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Address</label>
                                                    <input id="address_line_1" ng-model="user[0].address" class="form-control" type="text" name="address_line_1"
                                                        placeholder="Enter Address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="clearfix"></div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">City</label>
                                                    <input id="city" class="form-control" ng-model="user[0].city" type="text" name="city" placeholder="Enter City">
                                                    <!-- ngIf: form.city.$touched || form.$submitted -->
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Province</label>
                                                    <input id="state" class="form-control" ng-model="user[0].state" type="text" name="state" placeholder="Enter Province">
                                                    <!-- ngIf: form.state.$touched || form.$submitted -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="clearfix"></div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Zipcode</label>
                                                    <input id="zipcode" ng-model="user[0].zipcode" class="form-control" type="text" name="zipcode"
                                                        placeholder="Enter Zipcode">
                                                    <!-- ngIf: form.zipcode.$touched || form.$submitted -->
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Country</label>
                                                    <input id="country" ng-model="user[0].country" class="form-control" type="text" name="country"
                                                        placeholder="Enter Country">
                                                    <!-- ngIf: form.country.$touched || form.$submitted -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-right margin-top-60">
                                    <button ng-if="!valuePassword" type="button" class="btn btn-primary " ng-disabled="editUser.$invalid" ng-click="editUserInfo(user);">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</div>
<style>
    input[type="email"] {
        text-transform: lowercase;
    }
</style>