<!-- <div id="newRequest" class="modal newRequest"> -->
<!-- Modal content -->
<div class="modal-content main_newReq" style="width: 100%" ng-init="maintenanceInitialize();watcherInfo();">
  <div class="modal-header">
    <span class="close" ng-click="cancel()">&times;</span>
    <h3>New request</h3>
  </div>
  <div class="modal-body clearfix" ng-init="maintenanceInit()">
    <form enctype="multipart/form-data" name="createMaintenanceForm" id="createMaintenanceForm" role="form" novalidate
      autocomplete="off">
      <div class="row  marT20" ng-init="maintenance.request_type = 0">
        <div class="col-xs-12 col-sm-12 col-md-12" ng-init="getAgencyProperty()">
          <div class="form-group text-left">
            <label class="control-label" for="product_categorie">
              <!-- Select property -->
              Job Address
              <font color="Red">*</font></label>
            <!-- <select name="selectProperty" ng-model="maintenance.property_id" name="created_by" class="form-control" required>
                <option value="" disabled>Select Property </option>
                <option ng-repeat="property in propertyList" value="{{property._id}}">{{property.address}}</option>
              </select> -->

            <!-- *********************** -->
            <input type="text" name="address1" id="address1" googleplace class="form-control"
              ng-model="maintenance.address" ng-maxlength="250" ng-change="addressInitialize()" required>
            <input id="latitude" type="hidden" name="latitude" ng-model="maintenance.latitude" class="form-control">
            <input id="longitude" type="hidden" name="longitude" ng-model="maintenance.longitude" class="form-control">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" ng-if="!fromTraderProfile">
          <div class="form-group">
            <div class="control-group radio-list">
              <div class="radio-flex">
                <label class="radio-lb radio_lb_mr">
                  <p class="radio_lbl">DIRECT REQUEST</p>
                  <input type="radio" name="request_type" ng-model="maintenance.request_type" value="0"
                    ng-checked="true" readonly ng-change="getTraders()" ng- />
                  <div class="radio-chk"></div>
                </label>
                <label class="radio-lb radio_lb_mr">
                  <p class="radio_lbl">PUBLIC JOB</p>
                  <input type="radio" name="request_type" ng-model="maintenance.request_type" value="1" readonly
                    ng-change="getTraders()" />
                  <div class="radio-chk"></div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
            <label ng-if="maintenance.request_type == 0" class=" control-label" for="product_categorie">Service Category
              <font color="Red">*</font></label>
            <label ng-if="maintenance.request_type == 1" class=" control-label" for="product_categorie">Trader Category
              <font color="Red">*</font></label>
            <select ng-model="maintenance.category_id" name="category_id" class="form-control" required
              ng-change="getTraders()">
              <option value="" disabled>Select Category </option>
              <option ng-repeat="category in category_listing" value="{{category._id}}">{{category.name|titlecase}}
              </option>
            </select>
            <span ng-if="maintenance.request_type == 0" class="error-span inner-error ng-binding "
              ng-show="createMaintenanceForm.category_id.$error.required && createMaintenanceForm.category_id.$touched "
              class="error-span inner-error ng-binding ">
              <font color="Red">Service Category is required</font>
              <span ng-if="maintenance.request_type == 1" class="error-span inner-error ng-binding "
                ng-show="createMaintenanceForm.category_id.$error.required && createMaintenanceForm.category_id.$touched "
                class="error-span inner-error ng-binding ">
                <font color="Red">Service Category is required</font>
              </span>
          </div>
        </div>
        <div
          ng-show="(isAgent || userRoleId == roleId.owner || isTenant) && !fromTraderProfile && maintenance.request_type == 0"
          class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group text-leftp inspection">
            <label ng-hide="isTaderPickFromSave" class=" control-label" for="product_categorie">Search trader<font
                color="Red">*</font></label>
            <label ng-hide="!isTaderPickFromSave" class=" control-label" for="product_categorie">Pick one trader<font
                color="Red">*</font></label>
            <ul class="col-md-12">
              <a class="pointer" href="javascript:void(0)" ng-click="selectTraderFromSaved()">
                <li class="maint_save_trader">
                  Pick from saved traders
                </li>
              </a>
            </ul>
            <!-- ng-hide="isTaderPickFromSave" -->
            <div class="custome-dropdown" ng-hide="isTaderPickFromSave">
              <span class="fa-search-span">
                <input type="text" id="query" ng-model="query" ng-change="searchTextbox(query)" />
                <!-- ng-change="getTraders()" -->
                <button class="btn btn-default" ng-click="getTraders()"><i class="fa fa-search"></i></button>
              </span>
              <ul id="notebook_ul1" ng-show="showTraderSearch && traderData" class="scrollbar-traders">
                <li
                  ng-show="showTraderSearch && traderData && traderData.previous_traders && traderData.previous_traders.length > 0">
                  <h3>Previous Traders</h3>
                </li>
                <div
                  ng-show="showTraderSearch && traderData && traderData.previous_traders && traderData.previous_traders.length > 0">
                  <li ng-repeat="trader in traderData.previous_traders | filter:query | orderBy: orderList"
                    ng-click="getSelectedTrader(trader.data.business_name, trader.data._id)">
                    <div class="custome-dropdown-li-box">
                      <div class="custome-dropdown-li-img">
                        <img ng-if="trader.data.image" ng-src="{{imageUrl}}{{trader.data.image}}" src="/assets/images/no_image.png" onerror="this.src='/assets/images/no_image.png'" alt="Profile Image"
                          width="50" height="50">
                        <div ng-if="!trader.data.image" class="default_100">
                          {{trader.data.firstname.charAt(0).toUpperCase()}}{{trader.data.lastname.charAt(0).toUpperCase()}}
                        </div>
                      </div>
                      <div class="custome-dropdown-li-info">
                        <h4 ng-if="trader.data.business_name">
                          <!-- {{trader.data.firstname}} {{trader.data.lastname}} -->
                          {{trader.data.business_name}}
                        </h4>
                        <h4 ng-if="!trader.data.business_name">
                          {{trader.data.firstname}} {{trader.data.lastname}}
                          <!-- {{trader.data.business_name}} -->
                        </h4>
                        <div ng-if="trader.category && trader.category.length > 0">
                          <span ng-repeat="trader in trader.category| limitTo : 3 : 0" class="mr_popup_cats">
                            {{trader.name}}
                          </span>
                          <span ng-if="trader.category && trader.category.length > 3">...</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </div>
                <li ng-show="showTraderSearch && traders && traders.length > 0">
                  <h3>Saved Traders</h3>
                </li>
                <div ng-show="showTraderSearch && traders && traders.length > 0">
                  <li ng-repeat="trader in traders | filter:query | orderBy: orderList"
                    ng-click="getSelectedTrader(trader.data.business_name, trader.data._id)">
                    <div class="custome-dropdown-li-box">
                      <div class="custome-dropdown-li-img">
                        <img ng-if="trader.data.image" ng-src="{{imageUrl}}{{trader.data.image}}" src="/assets/images/no_image.png" onerror="this.src='/assets/images/no_image.png'" alt="Profile Image"
                          width="50" height="50">
                        <div ng-if="!trader.data.image && trader.data.lastname" class="default_100">
                          {{trader.data.firstname.charAt(0).toUpperCase()}}{{trader.data.lastname.charAt(0).toUpperCase()}}
                        </div>
                        <div ng-if="!trader.data.image && !trader.data.lastname" class="default_100">
                          {{trader.data.firstname.charAt(0).toUpperCase()}}
                        </div>
                      </div>
                      <div class="custome-dropdown-li-info">
                        <h4 ng-if="trader.data.business_name">
                          <!-- {{trader.data.firstname}} {{trader.data.lastname}} -->
                          {{trader.data.business_name}}
                        </h4>
                        <h4 ng-if="!trader.data.business_name">
                          {{trader.data.firstname}} {{trader.data.lastname}}
                          <!-- {{trader.data.business_name}} -->
                        </h4>
                        <div ng-if="trader.data.categories_id && trader.data.categories_id.length > 0">
                          <span ng-if="trader.data.categories_id[0] && trader.data.categories_id[0].name"
                            ng-repeat="cat in trader.data.categories_id| limitTo : 3 : 0" class="mr_popup_cats">
                            {{cat.name}}
                          </span>
                          <span ng-if="trader.data.categories_id && trader.data.categories_id.length > 3">...</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </div>
                <li ng-show="showTraderSearch && allTradersList && allTradersList.length > 0">
                  <h3>Search Traders</h3>
                </li>
                <div ng-show="allTradersList && allTradersList.length > 0">
                  <li ng-repeat="trader in allTradersList | filter:query | orderBy: orderList"
                    ng-click="getSelectedTrader(trader.data.business_name, trader.data._id)">
                    <div class="custome-dropdown-li-box">
                      <div class="custome-dropdown-li-img">
                        <img ng-if="trader.data.image" ng-src="{{imageUrl}}{{trader.data.image}}" src="/assets/images/no_image.png" onerror="this.src='/assets/images/no_image.png'" alt="Profile Image"
                          width="50" height="50">
                        <div ng-if="!trader.data.image && trader.data.lastname" class="default_100">
                          {{trader.data.firstname.charAt(0).toUpperCase()}}{{trader.data.lastname.charAt(0).toUpperCase()}}
                        </div>
                        <div ng-if="!trader.data.image && !trader.data.lastname" class="default_100">
                          {{trader.data.firstname.charAt(0).toUpperCase()}}
                        </div>
                      </div>
                      <div class="custome-dropdown-li-info">
                        <h4 ng-if="trader.data.business_name">
                          <!-- {{trader.data.firstname}} {{trader.data.lastname}} -->
                          {{trader.data.business_name}}
                        </h4>
                        <h4 ng-if="!trader.data.business_name">
                          {{trader.data.firstname}} {{trader.data.lastname}}
                          <!-- {{trader.data.business_name}} -->
                        </h4>
                        <div ng-if="trader.data.categories_id && trader.data.categories_id.length > 0">
                          <span ng-if="trader.data.categories_id[0] && trader.data.categories_id[0].name"
                            ng-repeat="cat in trader.data.categories_id| limitTo : 3 : 0" class="mr_popup_cats">
                            {{cat.name}}
                          </span>
                          <span ng-if="trader.data.categories_id && trader.data.categories_id.length > 3">...</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </div>
                <!-- <div
                  ng-show="showTraderSearch && traderData && traderData.other_existing_traders && traderData.other_existing_traders.length > 0">
                  <li ng-repeat="trader in traderData.other_existing_traders | filter:query | orderBy: orderList"
                    ng-click="getSelectedTrader(trader.data.business_name, trader.data._id)">
                    <div class="custome-dropdown-li-box">
                      <div class="custome-dropdown-li-img">
                        <img ng-if="trader.data.image" ng-src="{{imageUrl}}{{trader.data.image}}" alt="Profile Image"
                          width="50" height="50">
                        <div ng-if="!trader.data.image" class="default_100">
                          {{trader.data.firstname.charAt(0).toUpperCase()}}{{trader.data.lastname.charAt(0).toUpperCase()}}
                        </div>
                      </div>
                      <div class="custome-dropdown-li-info">
                        <h4>
                          {{trader.data.business_name}}
                        </h4>
                        <div ng-if="trader.category && trader.category.length > 0">
                          <span ng-repeat="trader in trader.category| limitTo : 3 : 0" class="mr_popup_cats">
                            {{trader.name}}
                          </span>
                          <span ng-if="trader.category && trader.category.length > 3">...</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </div> -->
              </ul>
              <!-- <span class="group_lbl"
                ng-show="showTraderSearch && traderData && traderData.other_existing_traders && traderData.other_existing_traders.length > 0">Save
                Traders</span>
              <ul id="notebook_ul1"
                ng-show="showTraderSearch && traderData && traderData.other_existing_traders && traderData.other_existing_traders.length > 0">

              </ul> -->
            </div>
            <!-- <input ng-hide="isTaderPickFromSave" type="text" name="tradersearch" ng-model="$model"
              ng-model-options="modelOptions"="trader.name for trader in traderData | filter:$viewValue | limitTo:20"
              typeahead-on-select="onSelect($item, $model, $label)" class="form-control"
              typeahead-no-results="noResults" ng-required="notRequiredTrader && isTaderPickFromSave == false">
            <i class="fa fa-search" aria-hidden="true"></i> -->
            <span class="error-span inner-error ng-binding "
              ng-show="isTaderPickFromSave==false && createMaintenanceForm.tradersearch.$error.required && createMaintenanceForm.tradersearch.$touched ">
              <font color="Red">Search trader is required</font>
            </span>
            <span
              ng-if="isTaderPickFromSave == false && noResults && !createMaintenanceForm.tradersearch.$error.required">
              <font color="Red">No trader exists with this name</font>
            </span>
            <!-- <span ng-hide="isTaderPickFromSave" class="error-span inner-error ng-binding " ng-show="createMaintenanceForm.tradersearch.$error.pattern" class="error-span inner-error ng-binding ">
                  <font color="Red ">Search trader Must Contain Alphabet</font>
                </span> -->

            <select ng-change="traderOnSelect(maintenance.traderId)" ng-hide="!isTaderPickFromSave" name="selectTrader"
              ng-model="maintenance.traderId" name="trader" class="form-control"
              ng-required="notRequiredTrader && isTaderPickFromSave == true && maintenance.request_type == 0">
              <option value="" disabled>Select trader </option>
              <option ng-repeat="trader in traders" value="{{trader._id}}">
                {{trader.data.firstname|titlecase}}
                {{trader.data.lastname|titlecase}}-{{trader.data.email}}</option>
            </select>

            <!-- Infinite scroll -->
            <!-- <ui-select ng-change="traderOnSelect(maintenance.traderId)" ng-hide="!isTaderPickFromSave"
              name="selectTrader" name="trader" class=""
              ng-required="notRequiredTrader && isTaderPickFromSave == true && maintenance.request_type == 0"
              ng-model="maintenance.traderId" reach-infinity="myPagingFunction(true)">
              <ui-select-match placeholder="">
                {{$select.selected.data.firstname}}
                {{$select.selected.data.lastname}} -
                {{$select.selected.data.email}}
              </ui-select-match>
              <ui-select-choices repeat="trader in traders track by $index" refresh="myPagingFunction()"
                value="{{trader.data._id}}" refresh-delay="500">
                <span ng-switch="isLoading">
                  <span ng-switch-default="any">
                    {{ trader.data.firstname}}
                    {{trader.data.lastname }}-{{trader.data.email}}
                  </span>
                </span>
              </ui-select-choices>
            </ui-select> -->
            <!-- Infinite scroll -->

            <span class="error-span inner-error ng-binding "
              ng-show="isTaderPickFromSave==true && createMaintenanceForm.selectTrader.$error.required && createMaintenanceForm.selectTrader.$touched "
              class="error-span inner-error ng-binding ">
              <font color="Red">Search trader is required</font>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group text-left">
            <label class="control-label" for="settingFName">Request Subject<font color="Red">*</font></label>
            <input name="requestOverview" ng-model="maintenance.request_overview" ng-maxlength="250"
              class="form-control" type="text" required>
            <span class="error-span inner-error ng-binding "
              ng-show="createMaintenanceForm.requestOverview.$error.required && createMaintenanceForm.requestOverview.$touched "
              class="error-span inner-error ng-binding ">
              <font color="Red">Request Subject is required</font>
            </span>
            <span ng-show="createMaintenanceForm.requestOverview.$error.maxlength"
              class="error-span inner-error ng-binding">
              <font color="Red">Max 250 characters allowed</font>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group text-left">
            <label class="control-label" for="settingFName">Request detail<font color="Red">*</font></label>
            <textarea name="requestDetail" ng-maxlength="700" ng-model="maintenance.request_detail" class="form-control"
              type="text" required></textarea>
            <span class="error-span inner-error ng-binding "
              ng-show="createMaintenanceForm.requestDetail.$error.required && createMaintenanceForm.requestDetail.$touched "
              class="error-span inner-error ng-binding ">
              <font color="Red">Request detail is required</font>
            </span>
            <span ng-show="createMaintenanceForm.requestDetail.$error.maxlength"
              class="error-span inner-error ng-binding">
              <font color="Red">Max 700 characters allowed</font>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6" ng-if="isTenant ==  true">
          <div class="form-group text-left">
            <label class="control-label" for="settingFName">Budget($)</label>
            <!-- /^0|[1-9]\d*$/ -->
            <input name="budget" ng-maxlength="10" ng-model="maintenance.budget" ng-pattern="/^[0-9]*$/" min="0"
              class="form-control" type="text">
            <span class="text-danger" ng-show="createMaintenanceForm.budget.$error.pattern">
              <font color="Red">Only positive numbers are allowed.</font>
            </span>
            <span ng-show="createMaintenanceForm.budget.$error.maxlength" class="error-span inner-error ng-binding">
              <font color="Red">Max 10 digits are allowed</font>
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6" ng-if="isTenant ==  false">
          <div class="form-group text-left">
            <label class="control-label" for="settingFName">Budget($)
              <!-- removed required -->
              <!-- <font color="Red">*</font> -->
            </label>
            <!-- /^0|[1-9]\d*$/ -->
            <input name="budget" ng-maxlength="10" ng-model="maintenance.budget" ng-pattern="/^[0-9]*$/" min="0"
              class="form-control" type="text">
            <!-- removed required -->
            <!-- <span class="error-span inner-error ng-binding "
              ng-show="createMaintenanceForm.budget.$error.required && createMaintenanceForm.budget.$touched "
              class="error-span inner-error ng-binding ">
              <font color="Red">Budget is Required</font>
            </span> -->
            <span class="text-danger" ng-show="createMaintenanceForm.budget.$error.pattern">
              <font color="Red">Only positive numbers are allowed.</font>
            </span>
            <span ng-show="createMaintenanceForm.budget.$error.maxlength" class="error-span inner-error ng-binding">
              <font color="Red">Max 10 digits are allowed</font>
            </span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6" ng-if="isTenant ==  true">
          <div class="form-group text-left">
            <label class="control-label" for="settingFName">Due Date</label>
            <div type="text" class="form-control" name="dueDate" uib-datepicker-popup="{{format}}"
              ng-model="maintenance.dt" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close"
              alt-input-formats="altInputFormats">{{maintenance.dt|date}}</div>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default maint_calender" ng-click="open1()" style="float: right;"><i
                  class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6" ng-if="isTenant ==  false">
          <div class="form-group text-left due-date">
            <label class="control-label" for="settingFName">Due Date<font color="Red">*</font></label>
            <!-- <input name="dueDate" valid-date ng-blur="checkDueDate(maintenance.due_date)" ng-model="maintenance.due_date" class="form-control" type="date" required>
              <i class="fa fa-calendar-o" aria-hidden="true"></i> -->
            <div type="text" class="form-control" name="dueDate" uib-datepicker-popup="{{format}}"
              ng-model="maintenance.dt" is-open="popup1.opened" datepicker-options="dateOptions" required
              close-text="Close" alt-input-formats="altInputFormats">{{maintenance.dt|date}}</div>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default maint_calender" ng-click="open1()"><i
                  class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <!-- Date : {{maintenance.dt|date}} -->
            <span class="error-span inner-error ng-binding "
              ng-show="createMaintenanceForm.dueDate.$error.required && createMaintenanceForm.dueDate.$touched "
              class="error-span inner-error ng-binding ">
              <font color="Red">Due Date is Required</font>
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group text-left">
            <label class="control-label" for="settingFName">Referral code (if applicable)</label>
            <input name="requestOverview" ng-model="maintenance.referralCode"
              class="form-control" type="text">
          </div>
        </div>
      </div>
        <!-- <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <label class="control-label" for="product_categorie">Watchers List</label>
            <div class="form-group text-left" isteven-multi-select input-model="watcher" output-model="newArray2"
              button-label="icon fullName" item-label="fullName" tick-property="ticked">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 tags">
            <ul>
              <li ng-repeat="(key,value) in newArray2">
                <img ng-src="{{userImageUrl}}{{value.image}}" src="assets/images/no_image.png" alt="img">
                <span>{{value.firstname + " " + value.lastname}}</span>
                <button ng-click="removeWatcher(key)" class="fa fa-times" aria-hidden="true"></button>
              </li>
            </ul>
          </div>
        </div> -->
        <div class="main_newReqthumb">
          <ol>
            <li ng-class="key==0 ? 'active': ''" ng-repeat="(key,files) in maintenance.images" data-slide-to="{{key}}"
              data-target="#article-photo-carousel">
              <button class="maint_image pull-right" type="button" ng-click="RemovePhoto($index)"><i
                  class="fa fa-close"></i></button>
              <img alt="Maintenance Image" style="height:100px;width:100px;"
                ngf-src="!maintenance.images[key].$error && maintenance.images[key]" src="http://placehold.it/250x180">

            </li>
            <i ng-show="createMaintenanceForm.file1.$error.maxSize">
              <font color="Red">File too large max allowed size is 160MB</font>
            </i>
          </ol>
        </div>
        <div class="upload-btn-wrapper">
          <button class="btn btn-upload1" name="file1" ngf-drop ngf-select ng-model="maintenance.images"
            class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true"
            ngf-resize="{width: 1306, height: 400}" ngf-max-size="160MB" ngf-allow-dir="true"
            accept="image/*,application/pdf" ngf-allow-dir="true" ngf-pattern="'image/*,application/pdf'">
            <span class="btn-label">Upload a file</button>
        </div>
        <div class="modal-footer">
          <button class="btn btn-savechanges" ladda="loginLoading" data-style="slide-right"
            ng-click="addMR(maintenance)">Submit
            request</button>
        </div>
    </form>
  </div>
</div>
<!-- </div> -->
<script>
  // $(document).ready(function (e) {
  //   $(document).find("#content-3").mCustomScrollbar({
  //     scrollButtons: { enable: true },
  //     theme: "light-thick",
  //     scrollbarPosition: "outside"
  //   });
  // });
</script>
