


<!-- end /.carousel -->
<!--Banner section end-->
<section class="about_us mrg-TB55" id="about" name="About">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                    <div class="container">
                            <h3>Searching Australia property</h3>
                           
                        </div>
                <h2>About Us</h2>
                <p>
                    At syncIt, property buyers and sellers make appointments, meet, and transact directly. By passing property agents, we aim to help both property buyers and sellers save on hefty fees and reach a better price. 
                </p>
                <a  class="btn_explore pointer">Explore</a>
            </div>
            <div class="col-md-7 col-sm-12">
                <img src="/assets/images/about-us-build.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<script>
    $('document').ready(function() {
        $(window).scrollTop(0);
    });
    // $('#area').click(function (e) {
    //   e.stopPropagation()
    // });
</script>