<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />
  <title>Ownly</title>
  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> -->

  <!-- Custom styles for this template -->
  <!-- <link href="/assets/css/animations.css" rel="stylesheet"> -->
  <!-- <link href="/assets/css/carousel.css" rel="stylesheet">
  <link href="owl/owl.carousel.css">
  <link href="owl/owl.theme.css" rel="stylesheet"> -->
  <link href="/assets/css/custom_style.css" rel="stylesheet">
  <!-- <script type="text/javascript" src="js/user"></script> -->
  <!--<script type="text/javascript" src="js/desktop_js_header.js"></script>-->
  <!-- <script type="text/javascript" src="js/desktop_js_footer.js"></script> -->
  <!-- <script src="https://use.fontawesome.com/45e03a14ce.js"></script> -->
  <!-- <style>
    .garallyInPage {}
  </style>
  <script>
    function onSwitchClassClick(event) {
      if (event.classList.contains('off')) {
        event.classList.remove('off');
      } else {
        event.classList.add('off');
      }
    }

    function show_Div() {
      var x = document.getElementById('detail1');
      if (x.style.display === 'none') {
        x.style.display = 'block';
      } else {
        x.style.display = 'none';
      }
    }

  </script> -->
</head>

<body id="page-top" class="background_colr_404">
  <!-- <nav class="navbar navbar-default navbar-fixed-top inNavBar" role="navigation">
    <div class="navbarIn">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand page-scroll" href="/#!/"><img src="/assets/images/logo.png"  alt="logo"/></a> </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/#!/dashboard">Dashboard </a></li>
              <li><a href="/#!/myProperty">Property</a></li>
              <li><a href="/#!/appointment">Appointment</a></li>
              <li><a href="#">CONTACT US</a></li>
            </ul>
        
          </div>
        </div>
      </div>
    </div>
  </nav> -->
  <!--Main section start-->

  <div class="main_section_404">
    <div class="row">
      <div class="page-content page-content-default">
        <div class="col-md-12">

          <div class="block-error_404">
            <div class="error-num_404">404</div>
            <div class="error-text_404">Page not found</div>
            <div class="error-description">Unfortunately we're having trouble in loading the page you are looking for.
              Please wait a moment and try again or use action below.</div>
            <button class="btn-pre"><a a class="anchor_404" href="/#!/dashboard" type="button" onClick="">Back to
                Dashboard</a></button>
            <button class="btn-pre"><a class="anchor_404" href="/#!/">Back to Home</a></button>
            <!-- <button class="btn-pre" type="button">Back to Previous</button> -->

          </div>

        </div>
      </div>


    </div>
  </div>


  <!--Main Section end-->
  <!--Footer Start-->
  <!-- <div class="copyright-footer">
    <div class="row">
      <div class="col-sm-12">
        <div class="copy-right">Copyright &copy; 2017. All rights reserved.</div>
        <ul class="social-network">
          <li><a href="#" class="icoFacebook" title="Facebook"> <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-google-plus" aria-hidden="true"></i> </a></li>
        </ul>
      </div>
    </div>
  </div> -->
  <!-- <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page"
    data-toggle="tooltip" data-placement="left"> <span class="glyphicon glyphicon-menu-up"></span> </a> -->
  <!--Tabs section end-->

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="js/calender.js"></script> -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/assets/javascripts/bootstrap.min.js"></script>
  <!-- <script type="text/javascript">
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 800) {
          $('#back-to-top').fadeIn();
        } else {
          $('#back-to-top').fadeOut();
        }
      });
      // scroll body to 0px on click
      $('#back-to-top').click(function () {
        //$('#back-to-top').tooltip('hide');
        $('body,html').animate({
          scrollTop: 0
        }, 1500);
        return false;
      });

      // $('#back-to-top').tooltip('show');

    });

  </script>
  <script src="js/scrolling-nav.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#list').click(function (event) { event.preventDefault(); $('#products .item').removeClass('grid-group-item'); $('#products .item').addClass('list-group-item'); });
      $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
    });

  </script> -->
  <!-- <script>
    jQuery(document).ready(function ($) {

      $('#myCarousel').carousel({
        interval: 5000
      });

      $('#carousel-text').html($('#slide-content-0').html());

      //Handles the carousel thumbnails
      $('[id^=carousel-selector-]').click(function () {
        var id_selector = $(this).attr("id");
        var id = id_selector.substr(id_selector.length - 1);
        var id = parseInt(id);
        $('#myCarousel').carousel(id);
      });


      // When the carousel slides, auto update the text
      $('#myCarousel').on('slid', function (e) {
        var id = $('.item.active').data('slide-number');
        $('#carousel-text').html($('#slide-content-' + id).html());
      });
    });

  </script> -->
</body>

</html>